.LoginScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.LoginScreen button {
    background: #387ADF;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}